name: アプリケーションのリリース

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'リリースタイプ (major, minor, patch)'
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
        default: patch

jobs:
  update_version:
    name: バージョン更新
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 1
    outputs:
      new_version: ${{ steps.calculate_version.outputs.new_version }}
    steps:
      - name: チェックアウト
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 最新のタグを取得
        id: get_latest_tag
        run: |
          if [ "$(git rev-parse --is-shallow-repository)" = "true" ]; then
            git fetch --prune --unshallow
          fi
          latest_version="$(git tag --sort=creatordate | tail -n 1)"
          latest_version="${latest_version#v}"
          if [ -z "$latest_version" ]; then
            latest_version="0.0.0"
          fi
          echo "latest_version=$latest_version" >> $GITHUB_OUTPUT

      - name: 新しいバージョンの算出
        id: calculate_version
        run: |
          if [ "${{ github.event.inputs.release_type }}" = "major" ]; then
            new_version=$(echo "${{ steps.get_latest_tag.outputs.latest_version }}" | awk -F. -v OFS=. '{$1=$1+1; $2=0; $3=0; print}')
          elif [ "${{ github.event.inputs.release_type }}" = "minor" ]; then
            new_version=$(echo "${{ steps.get_latest_tag.outputs.latest_version }}" | awk -F. -v OFS=. '{$2=$2+1; $3=0; print}')
          elif [ "${{ github.event.inputs.release_type }}" = "patch" ]; then
            new_version=$(echo "${{ steps.get_latest_tag.outputs.latest_version }}" | awk -F. -v OFS=. '{$3=$3+1; print}')
          else
            echo "Invalid release type: ${{ github.event.inputs.release_type }}"
            exit 1
          fi
          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: pyproject.tomlのバージョン更新
        run: |
          sed -i "s/version = \".*\"/version = \"${{ steps.calculate_version.outputs.new_version }}\"/g" ./app/pyproject.toml
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add ./app/pyproject.toml
          git commit -m "release: v${{ steps.get_latest_tag.outputs.latest_version }} から v${{ steps.calculate_version.outputs.new_version }} へバージョンアップ"
          git push origin HEAD:main

  build:
    needs: update_version
    strategy:
      matrix:
        include:
          - os: ubuntu-latest # Linux
            os_name: linux
            arch: x86_64
            artifact_name: linux_x86_64

          - os: macos-15 # Intel Mac
            os_name: macos
            arch: x86_64
            artifact_name: macos_x86_64

          - os: macos-latest # Apple Silicon Mac
            os_name: macos
            arch: arm64
            artifact_name: macos_arm64

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    steps:
      - name: チェックアウト
        uses: actions/checkout@v4

      - name: OS固有のセットアップ
        run: |
          if [[ "${{ matrix.os_name }}" == "linux" ]]; then
            sudo apt-get update
            sudo apt-get install -y libpcsclite-dev swig
          fi

      - name: Pythonのセットアップ (Python 3.13.0)
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.0'
          cache: 'pip'

      - name: 依存関係のインストール
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: アプリケーションのビルド
        run: |
          ./build/build.sh ${{ matrix.os_name }} ${{ matrix.arch }}

      - name: ビルド成果物の一時保存
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: |
            ./download_assets_dist/*.dmg
            ./download_assets_dist/*.tar.gz

  release:
    needs: [update_version, build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 1
    steps:
      - name: チェックアウト
        uses: actions/checkout@v4

      - name: ビルド成果物のダウンロード
        uses: actions/download-artifact@v4
        with:
          path: ./download_assets_dist
          merge-multiple: true

      - name: GitHubリリースの作成と成果物のアップロード
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v${{ needs.update_version.outputs.new_version }}"
          name: "v${{ needs.update_version.outputs.new_version }} をリリース"
          files: |
            ./download_assets_dist/*.dmg
            ./download_assets_dist/*.tar.gz
          generate_release_notes: true
          draft: false
          prerelease: true